<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Form</title>
</head>
<body>
        <form action="https://www.google.com/search" method="post">
        <input type="text" placeholder="Enter ..." name="q"> #q is for query
        <input type="password" placeholder="Password ..." name="password"> #It shows users password when using default GET!
        <button>Submit</button>
    </form>
</body>
</html>